html {
  height: 100%;
}

body{
	background: silver;
	height: 100%;
}

.main-container{
	width: 60%;
	background: white;
	height: 100%;
}

.contains{
	min-height: 100%;
}


.footer{
	height:50px;
	background: gray;
	color:#FFFFFF;
	width:100%;
}
