{% extends "base.html" %}

{% block title %}{{meeting.meeting.name}}{% endblock %}

{% block content %}
{% if meeting.owner == user %}<a href="{% url 'results' meeting.meeting.id %}">Results</a>{% endif %}
<form method="post" action="{% url 'meeting' meeting.meeting.id %}">
{% csrf_token %}
<div class="meeting">
	<ul>
	{% for date in meeting_form.dates %}
		<li>{{date}}</li>
	{% empty %}
		<li>i know what you did there...</li>
	{% endfor %}
	</ul>
	<input type="submit" />
</div>
</form>
{% endblock %}
